
body {

    background-image: url('../assets/maa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

p {
    color:white;
    font-size:60px;
}

h1 {
    font-size: 130px;
    line-height: 1.1;
    color:white;
} 
h2 {
    font-size:120px;
    color:white;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
.hidden {
    opacity: 0;
    filter:blur(5px);
    transform:translateX(-100%);
    transition: all 2.5s;

}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.show {
    opacity: 1;
    filter: blur(0);
    transform:translateX(0);
}

.logos {
    display:flex;
    color:white;
    font-size:50px;
}

.logo:nth-child(2) {
    transition-delay: 200ms;

}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}